
{{#each errors}}
    <p class="alert alert-danger text-center">{{err_msg}}</p>
{{else}}
{{/each}}

{{#if error}}
    <p class="alert alert-danger text-center">{{error}}</p>
{{/if}}

{{#if success_msg}}
  <div class="alert alert-success text-center">{{success_msg}}</div>
{{/if}}

{{#if error_msg}}
  <div class="alert alert-danger text-center">{{error_msg}}</div>
{{/if}}

